

.container {
    display: flex;
    gap: 20px;
}

.rect {
    width: 200px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.box {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 5px;
 
}

.rect:active {
    background-color: #aaa;
}

.rect:active .box {
    transform: rotate(45deg) scale(1.2);
    background-color: green;
}
